@import url(https://fonts.googleapis.com/css?family=Raleway:100,200,300);
@import '~platformicons/platformicons/platformicons.css';
@import '~typeface-rubik/index.css';

@import './_platforms';

html, body, #root {
    height: 100%;
}

body, #root, #sentry_echo {
    min-height: 100%;
    margin: 0;
    padding: 0;
}

body {
    background: #15121c;
    color: #fff;
    font-family: Rubik;
    font-weight: 300;
}

#sentry_echo {
    display: flex;
    flex-direction: column;
}

header {
    flex-grow: 0;
    display: flex;
    flex-direction: column;
    padding: 20px 0;
    text-align: center;

    p {
        padding-top: 25px;
        width: 570px;
        line-height: 1.90em;
        margin: 0 auto;
        font-size: 0.90rem;
        color: #fff;
        animation: flavorText 10s linear 1 forwards;

    }
}

@keyframes flavorText {
    50%  { opacity: 1; }
    100% { opacity: 0.25; }
}

.logo {
    display: flex;
    font-family: Raleway;
    margin: 0 auto;

    h1:first-child {
        width: 200px;
        height: 70px;
        background: url('https://sentry-brand.storage.googleapis.com/sentry-logo-white.svg') no-repeat;
        text-indent: -9999px;
    }

    h1:last-child {
        font-weight: 100;
        text-transform: lowercase;
        line-height: 68px;
        position: relative;
    }
}

.main-app {
    position: relative;
    flex-grow: 1;
    display: flex;
    justify-content: center;
    padding-top: 80px;
}

.sequencers {
    list-style: none;
    margin: 0;
    padding: 0;

    li:not(:last-child) {
        margin-bottom: 8px;
    }
}

.platform {
    display: flex;
    width: 800px;
}

.instrument-heading {
    display: flex;
    text-transform: uppercase;
    font-size: 0.8rem;
    align-items: center;
    padding: 4px 0;
    user-select: none;

    &:after {
        content: '';
        border-bottom: 1px solid #333;
        flex-grow: 1;
        margin-left: 10px;
    }
}

.note-indicator {
    display: block;
    width: 4px;
    background: #353042;
    margin-left: 6px;
    animation: none;

    &.trigger {
        animation: noteIndicatorTrigger 300ms;
    }
}

@keyframes noteIndicatorTrigger {
    20% { background: #E03E2F; }
}

.sequence-timeline {
    overflow: hidden;
    position: relative;
    margin-left: 6px;
    background: rgba(255, 255, 255, 0.01);
    flex-grow: 1;
}

.sequence-timeline svg {
    display: block;
    shape-rendering: crispEdges;

    .bar-lines line {
        stroke-width: 1px;
        stroke: #2a2140;
    }

    .playlist rect {
        fill: #9990AB;
    }
}

.playhead {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    border-right: 1px solid #6C5FC7;
    transform: translateX(0);
    opacity: 0;
    transition: opacity 100ms;
    z-index: 2;

    &:before {
        content: '';
        display: block;
        position: absolute;
        width: 10px;
        left: -10px;
        height: 100%;
        background: linear-gradient(90deg, rgba(108, 95, 199, 0), rgba(108, 95, 199, 0.2));
    }

    &.shown {
        opacity: 1;
    }
}

.bpm-indicator {
    position: absolute;
    top: 10px;
    font-weight: normal;
    font-size: 1.2rem;
    line-height: 1.2rem;
    text-align: center;
    color: #F58159;
    transition: opacity 600ms, transform 600ms;

    opacity: 0;
    transform: translateY(47px);
    pointer-events: none;

    &.ready {
        opacity: 1;
        transform: translateY(0);
    }

    small, div {
        color: #fff;
        font-weight: 100;
    }

    small {
        font-size: 0.65rem;
        margin-left: 2px;
    }

    div {
        font-size: 0.8rem;
        opacity: 0.6;
    }
}

.loading-sequence {
    position: absolute;
    top: 20px;
    background: #E03E2F;
    font-size: 0.8rem;
    padding: 5px 10px;
    border-radius: 3px;
    animation: waitNotify 1s;
    transition: opacity 600ms;

    &.ready {
        opacity: 0;
        pointer-events: none;
    }
}

@keyframes waitNotify {
    0%   { opacity: 0; }
    60%  { opacity: 0; }
    100% { opacity: 1; }
}
